<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'editor.cancel' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>
      {{ (isNew ? 'editor.add.title' : 'editor.edit.title') | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canSave" (click)="save()">
        <strong>{{ (isNew ? 'editor.add' : 'editor.save') | translate }}</strong>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="photo-area" (click)="pickPhoto()">
    @if (previewUri) {
      <img [src]="previewUri" [alt]="name" class="photo-preview" />
      <div class="photo-overlay">
        <ion-icon name="camera-outline" />
      </div>
    } @else {
      <div class="photo-placeholder">
        <ion-icon name="camera-outline" />
        <span>{{ 'photo.placeholder' | translate }}</span>
      </div>
    }
  </div>

  <ion-list [inset]="true">
    @if (draft.barcode) {
      <ion-item>
        <ion-icon slot="start" name="barcode-outline" />
        <ion-label>{{ draft.barcode }}</ion-label>
      </ion-item>
    }

    <ion-item>
      <ion-input
        [label]="'editor.name.label' | translate"
        label-placement="stacked"
        [placeholder]="'editor.name.placeholder' | translate"
        [(ngModel)]="name"
      />
    </ion-item>

    <ion-item>
      <ion-label>{{ 'editor.expiry.label' | translate }}</ion-label>
      <ion-datetime-button slot="end" datetime="expiry-datetime" />
    </ion-item>
  </ion-list>

  <ion-modal [keepContentsMounted]="true" class="date-picker-modal">
    <ng-template>
      <ion-datetime
        id="expiry-datetime"
        presentation="date"
        [min]="minDate"
        [showDefaultButtons]="true"
        [doneText]="'editor.date.confirm' | translate"
        [cancelText]="'editor.date.cancel' | translate"
        [(ngModel)]="expireDate"
      />
    </ng-template>
  </ion-modal>
</ion-content>
